<h2>
  <%= flash[:notice] %>
</h2>
<% if @user %>
  <form action="/sessions/destroy" method="post">
    <input type="submit" value="Sign Out" />
  </form>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Booking</h5>
        <p class="card-text"><%= @space.name %></p> 
        <p class="card-text"><%= @space.description %></p> 
        <p class="card-text">£<%= @space.price %> per night</p>
        <form action='/bookings/new' method='post'>
        <input type='date' name='date_start'>
        <input type='date' name='date_end'>
        <input type='submit' value='Book'>
      </form>
    </div>
  </div>

<% else %>
  <form action='/users/new' method='get'>
    <input type='submit' value='Sign Up'>
  </form>
  <form action='/sessions/new' method='get'>
    <input type='submit' value='Sign In'>
  </form>
<% end %>




