<div>
    <p><%= @space.name %></p> 
    <p><%= @space.description %></p> 
    <p>£<%= @space.price %> per night</p>
    <form action='/bookings/new' method='post'>
      <input type='date' name='date_start'>
      <input type='date' name='date_end'>
      <input type='submit' value='Book'>
    </form>
</div>
