<h1>Add a shell</h1>
<form action="/spaces" method="post">
  <label for="name">Property Name</label>
  <input type="text" id="property-name" name="name">
  <label for="description">Description</label>
  <textarea id="description" name="description"></textarea>
  <label for="price">Price: £</label>
  <input type="text" id="price" name="price" placeholder="price per night">
  <label for="date_start"> Available from (DD/MM/YYYY)</label>
  <input type='date' name='date_start'>
  <label for="date_end"> Available to(DD/MM/YYYY)</label>
  <input type='date' name='date_end'>

  <input type="submit" value="Add space">
</form>