<h1>Tortoise Tourism</h1>
<button onclick="alert('Coming soon!');">Sign Up</button>

<ul>
<% @spaces.each do |space| %>
  <li>
    <%= space.name %> 
    <%= space.description %> 
    £<%= space.price %> per night
  </li>
<% end %>