<% if @user %>
  <h1>Welcome to MakersBnB, <%= @user.username %> </h1>
<% else %>
  <h1>Tortoise Tourism</h1>
  <form action='/users/new' method='get'>
      <input type='submit' value='Sign Up'/>  
  </form>
<% end %>

