<!DOCTYPE html>
<html>
<head>
  <link href='css/index.css' type='text/css' rel='stylesheet'>
  <title>Tortoise Tourism</title>
</head>

<body>
  <h1>Tortoise Tourism</h1>
  <div>
    <form action='/users/new' method='get'>
      <input type='submit' value='Sign Up' id='sign-up-btn'>
    </form>
  </div>

    <form action='/sessions/new' method='get'>
      <input type='submit' value='Sign in'>
    </form>
</body>
</html>
