<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/style.css">
  </head>
  <body>
    <div id="navbar">
      <a href="/">Home</a>
      <a href="/users/new">Sign Up</a>
      <a href="/sessions/new">Sign In</a>
      <a href="/sessions/destroy">Sign Out</a>
    </div>
    <%= yield %>
  </body>
</html>
